/* ==================================
   SHAME
   For dirty temporary code
   ================================== */

.au-c-main-container__sidebar {
  flex-basis: 35rem;
}

/* layout */

.au-c-main-container {
  height: calc(100vh - 13.35rem);
}

.au-c-sidebar__header {
  padding-top: $au-unit*1.5;
}

// TODO use a custom selector that is less generic.
.au-c-badge--small {
  margin-right: $au-unit/2;
}

.alert-container {
  position: absolute;
  bottom: 0;
  right: 0;
  margin-right: 2rem;
}
