/* ==================================
   SHAME
   For dirty temporary code
   ================================== */

@use "sass:math";

.au-c-main-container__sidebar {
  flex-basis: 35rem;
}

/* layout */

.au-c-main-container {
  height: calc(100vh - 13.35rem);
}

.au-c-sidebar__header {
  padding-top: $au-unit * 1.5;
}

// TODO use a custom selector that is less generic.
.au-c-badge--small {
  margin-right: math.div($au-unit, 2);
}

.alert-container {
  position: absolute;
  bottom: 0;
  right: 0;
  margin-right: 2rem;
}

.au-c-tabs {
  padding: 0
}

.sf-listing-sub-form {
  border-width: 1px !important;
  border-color: rgb(182, 182, 182);
}

code {
    background-color: #272822;
    color: #f8f8f2;
    border-radius: 0.3rem;
    padding: 20px;
    white-space: nowrap;
}

.au-o-grid {
  display: block;
}