.codelijsten__scroll {
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  height: 100%;
  overflow-y: auto;
}

.column-cell-with-two-items {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  align-items: center;
  div {
    padding: 1rem 1.5rem;
  }
}
