$opacityConsoleMesage: 0.3;

.code-edit-console__container {
  height: 70%;
  background-color: $au-gray-900;
}

.code-edit-console {
  background-color: $au-gray-800;
}

.code-edit-message {
  color: $au-gray-100;
  font-size: 100%;
  display: flex;
  align-items: center;
  padding: 0.5rem 1rem;
  flex-direction: row;
  gap: 0.5rem;

  p {
    margin: 0 !important;
  }
}

.code-edit-message--bg-warning {
  background-color: rgba(255, 255, 0, $opacityConsoleMesage);
}

.code-edit-message--icon-warning {
  color: $au-yellow-300;
}

.code-edit-message--bg-error {
  background-color: rgba(210, 55, 60, $opacityConsoleMesage);
}

.code-edit-message--icon-error {
  color: $au-red-600;
}

.code-edit-message--bg-info {
  background-color: rgba(207, 213, 221, $opacityConsoleMesage);
}

.code-edit-message--icon-info {
  color: $au-yellow-300;
}
