.formbuilder-editor {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: 6rem 20vw auto 20vw;
}

.formbuilder-editor__main-side-bar {
  height: 100%;
  background-color: $au-blue-700;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem 1rem;
  gap: 1rem;

  button:hover {
    scale: 1.05;
    background-color: $au-gray-100;
    color: $au-blue-800 !important;
  }

  .au-c-button--secondary {
    border-color: $au-gray-200 !important;
    color: $au-gray-100 !important;

    &:hover {
      border-color: $au-blue-700 !important;
    }
  }
  .au-c-button--naked {
    color: $au-gray-100 !important;
  }
}

.formbuilder-editor__main-side-bar--first-button {
  margin-bottom: 1.5rem;
}

.formbuilder-editor__side-bar {
  height: 100%;
}

.formbuilder-editor__side-bar--title {
  padding: 1rem 2rem;
  background-color: $au-white;
  font-weight: $au-medium;
  font-size: $au-h5;
  color: $au-blue-700;
  width: 100%;
}

.formbuilder-editor__side-bar--left {
  border-right: 2px solid $au-gray-100;
}

.formbuilder-editor__side-bar--right {
  border-left: 2px solid $au-gray-100;
}

.formbuilder-editor__side-bar--big-elements-in-grid {
  width: 100%;
  padding: 2rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;
  align-items: center;
}

.formbuilder-editor__side-bar--clickable-element {
  padding: 2rem;
  border-radius: $au-radius;
  display: flex;
  justify-content: center;
  align-items: center;
  word-break: break-all;
  flex: 1;
  background-color: $au-gray-400;
  color: $au-gray-100;
  font-weight: $au-medium;
  font-size: $au-h6;

  &:hover {
    scale: 1.05;
    background-color: $au-gray-300;
    color: $au-gray-500;
  }
}
