.formBuilderEdit {
  display: grid;
  height: 100%;
  width: 100%;
  grid-template-columns: repeat(2, 1fr);
  overflow: hidden;
}

.formBuilderEdit__preview {
  height: 100%;
  overflow-y: auto;
  overflow-x: hidden;
  background-color: $au-gray-100;
}

.formBuilderEdit__builder {
  height: 100%;
  overflow-y: auto;
  overflow-x: hidden;
  background-color: $au-white;
}

.formBuilderEdit__noFields {
  color: $au-gray-400;
  text-align: center;
}

.input__helpTextAndCharacterCount {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.formBuilderEdit__configuration {
  height: 100%;
  overflow-y: auto;
  overflow-x: hidden;
  background-color: $au-white;
  .fieldsOfSection {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }
}

.formBuilderEdit__template-create {
  height: 100%;
  padding: 2rem 1rem;
}

.formBuilderEdit__template-preview {
  scale: 0.9;
  padding-bottom: 1rem;
  position: relative;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.formBuilderEdit__template-preview--preview {
  background-color: $au-gray-100;
  border: 1px solid #e0e2e3;
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.4);
  flex: 1;
  height: 100%;
  margin: 0 3rem 6rem 6rem;
  overflow-y: auto;
  scrollbar-width: none;
  -ms-overflow-style: none;
  position: relative;
}

.formBuilderEdit__template-preview--inner-preview {
  background-color: $au-gray-100;
  display: flex;
  justify-content: left;
  padding: 3rem;
  scrollbar-width: none;
  -ms-overflow-style: none;
}
