// @lblod/ember-rdfa-editor
.richTextEditor {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.richTextEditor__toolbar {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  background-color: $au-gray-100;
  flex-wrap: wrap;
  border-top-right-radius: $au-radius;
  border-top-left-radius: $au-radius;
  border: 0.1rem solid $au-gray-300;
  border-bottom: none;
  padding: 0 1rem;
}

.say-container__main {
  border: 0.1rem solid $au-gray-300;
  border-top: none;
}
.say-editor__inner {
  padding: 0px !important;
}
