.validation-tab__result-message-input {
  display: flex;
  flex-direction: row;
  gap: 0;

  input {
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
  }
  button {
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
  }
}
