<div class="au-u-flex au-u-flex--row au-u-flex--spaced">
  <AuLabel>Total:
  </AuLabel>
  {{#if this.totals}}
    <p> <strong>{{this.formattedTotal}}</strong></p>
  {{else}}
    <p> <strong>No value found</strong></p>
  {{/if}}
</div>