<AuHeading @level="2" @skin="4" class="au-u-margin-bottom-small">
  Stap 1: Kies vraagtype 
</AuHeading>
<p class="au-u-margin-bottom-small">Klik op een veld om het toe te voegen.</p>

<ul>
{{#each this.sortedInputTypes as |inputType|}}
  <li>
    <AuButton {{on "click" (fn @insertFieldInForm inputType)}} @size="large">{{inputType.label.value}}</AuButton>
  </li>
{{/each}}
</ul>

{{yield}}
