{{#if this.field}}
  <div>
    <h1>{{this.field.fieldName}}</h1>
    {{#if this.allValidationConcepts}}
      <ValidationConceptMultiSelector
        @allValidationConcepts={{this.allValidationConcepts}}
        @selectedValidationLabels={{this.selectedValidationLabels}}
        @onValidationSelectionUpdated={{this.updateSelectedValidationLabels}}
      />
    {{/if}}
  </div>
{{/if}}