<div>
  <h3>Stap 1: Kies vraagtype</h3>
  <p>Klik op een element om ze aan de rij rechts toe te voegen.</p>

  <ul>
  {{#each this.sortedInputTypes as |inputType|}}
    <li>
      <AuButton {{on "click" (fn @insertFieldInForm inputType)}} @size="large">{{inputType.label.value}}</AuButton>
    </li>
  {{/each}}
  </ul>
</div>

{{yield}}
