<AuTable>
  <:title>{{this.tableName}}</:title>
  <:header>
    <tr>
      <th>Soorten kosten</th>
      <th>Bedrag in euro</th>
      <th>Verandwoording</th>
    </tr>
  </:header>
  <:body>
    {{#each this.tableRows as |row|}}
      <tr>
        <th>{{row.key}}</th>
        <td>{{row.number}}</td>
        <td>{{row.accountability}}</td>
      </tr>
    {{/each}}
  </:body>
  <:footer>
    <tr>
      <th>Totaal</th>
      <td></td>
      <td></td>
    </tr>
  </:footer>
</AuTable>