{{page-title "Code editor"}}

<div class="au-c-body-container au-u-margin-bottom-none">
  <AuBodyContainer
    @scroll={{true}}
  >
    <AuContent
      @skin="small"
      {{editor this.formCode (perform this.handleCodeChange)}}>
    </AuContent>
  </AuBodyContainer>
  <div>
    <AuButton 
      @width="block"
      {{on "click" this.toggleCollapsed}}
    >
      Console
    </AuButton>
  </div>
  {{#unless this.collapsed}}
  <AuBodyContainer class="au-u-background-gray-100">
    <AuBodyContainer class="au-u-background-gray-200 au-u-margin">
      <AuContent 
        class="console au-u-margin"
      >
        content
      </AuContent>
    </AuBodyContainer>
  </AuBodyContainer>
  {{/unless}}
</div>