<div id={{this.id}}>
  {{#each this.totals as |total|}}
    <div class="au-u-flex au-u-flex--row au-u-flex--spaced">
      <AuLabel>
        Totaal:
        {{total.id}}
      </AuLabel>
      {{#if total.calculationResult}}
        <p> <strong>{{total.calculationResult}}</strong></p>
      {{/if}}
    </div>
  {{/each}}
</div>