<div class="container">
  <AuMainHeader @appTitle="Semantic form builder" @brandLink="https://www.vlaanderen.be/nl" @homeRoute="index"/>
  <main id="main" class="au-c-main-container">
    <div id="content" class="au-c-body-container">
      <ConceptSchemeUriSelector/>
      <Playground @template={{this.template}}/>
      {{outlet}}
    </div>
  </main>
</div>
