<AuMainHeader @appTitle="Semantic form builder" @brandLink="https://www.vlaanderen.be/nl" @homeRoute="index"/>
<div class="au-c-toolbar  au-c-toolbar--bottom  au-c-toolbar--large ">
  <div class="au-c-toolbar__group">

    <AuHeading @level="1" @skin="2">
      Semantische Formulierenbouwer Loket
    </AuHeading>
  </div>
</div>

<main id="main" class="au-c-main-container">
  {{outlet}}
</main>
